body{
    width: 1366px;
    height: 768px;
    margin: 0 auto;
    font-family: Segoe UI;
}
h1,h2{
    font-family: Segoe UI Light;
    font-size: 39.75px;
}
.title{
    font-family: Segoe UI;
    font-size: 16px;
}
.page {
    width: 85%;
    margin: 0 auto;
}
.container-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0;
}
.button-bucket {
    width: 280px;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    color: #fff;
    background-color: #D9644A; 
    cursor: pointer;
}
.button-bucket img{
    width: 34px;
    height: 31px;
}
.products {
    display: grid;
    grid-template-columns: 360px 1fr;
    grid-gap: 10px;
}
.product {
    display: flex;
    align-items: flex-end;
    cursor: pointer;
}
.product:hover .title{
    opacity: 0.8;
    transition: all 0.3s linear;
}
.title {
    width: 100%;
    padding: 10px;
    background-color: #fff;
    opacity: 0;
} 
.right-side, .left-side {
    display: grid;
    grid-gap: 10px;
    grid-row: 1/4;
}
.left-side{
    grid-template-rows: repeat(3,180px);
}
.right-side{
    grid-template-columns: repeat(4,230px);
    grid-auto-rows: 180px;
}
.products .right-side .product{
    background-position: center;
}
.products .left-side .product:nth-child(1){
    grid-row: 1/3;
    background-image: url(../IMG/t-shirts.jpg);
}
.products .left-side .product:nth-child(2){
    background-image: url(../IMG/caps.jpg);
    background-position: bottom;
}
.products .right-side .product:nth-child(1){
    background-image: url(../IMG/cards.jpg);
}
.products .right-side .product:nth-child(2){
    background-image: url(../IMG/pens-pencils.jpg);
}
.products .right-side .product:nth-child(3){
    grid-column: 3/5;
    background-size: cover;
    background-image: url(../IMG/notebook.jpg);
}
.products .right-side .product:nth-child(4){
    background-image: url(../IMG/toys.jpg);    
}
.products .right-side .product:nth-child(5){
    grid-column: 2;
    grid-row: 2/4;
    background-image: url(../IMG/bags.jpg);
}
.products .right-side .product:nth-child(6){
    background-image: url(../IMG/scrum-cards.jpg);
}
.products .right-side .product:nth-child(7){
    background-image: url(../IMG/magnets.jpg);
}
.products .right-side .product:nth-child(8){
    background-image: url(../IMG/magnets.jpg);
}
.products .right-side .product:nth-child(9){
    background-image: url(../IMG/pens-pencils.jpg);
}
.products .right-side .product:nth-child(10){
    background-image: url(../IMG/toys.jpg);
    background-position: center;
}


/* style for page-product */

.page-product{
    display: none;
}
.page-product .container-title{
    margin-left: -111px;
}
.left-block-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 18%;
}
.page-product .but-prev{
    margin-left: 35px;
}
.but-prev,button{
    width: 40px;
    cursor: pointer;
}

.sum{
    width: 200px;
    display: flex;
    justify-content: space-around;
}
.operations{
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    background-color: #4ea686;
}
.container-products > .product-info{
    width: 360px;
    width: 360px;
    flex-direction: column;
    margin-left: 12px;
}
.operations, button{
    color: #fff;
}
.operations button{
    height: 40px;
    background-color: #4ea686;
    font-size: 31px;
    border: 1px solid #fff;
}
.container-sum{
    display: flex;
}
.sum{
    width: 200px;
    display: flex;
    justify-content: space-around;
}
.image{
    display: flex;
    flex-direction: column-reverse;
    height: 372px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
.image:hover{
    border: 2px solid #D9644A;
}
.image .title{
    width: 94%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0.8;
}
.image .title span:nth-child(2){
    font-size: 24px;
}
.info span:nth-child(1){
    color: #9ECAB9;
}
.amount{
    display: flex;
    justify-content: space-around;
}
.container-wrapper{
    overflow: auto;
}
.container-products{
    display: flex;
    margin-right: -350px;
}
.container-products div:nth-child(1) .image{
    background-image: url(../IMG/t-shirts.jpg);

}
.container-products div:nth-child(2) .image{
    background-image: url(../IMG/t-shirts2.jpg);
}
.container-products div:nth-child(3) .image{
    background-image: url(../IMG/t-shirts3.jpg);
}
.container-products div:nth-child(4) .image{
    background-image: url(../IMG/t-shirts4.jpg);
}

/* style for page-cart */

.page-cart {
    width: 60%;
    display: none;
}
.page-cart .container-title {
    width: 26%;
    margin-left: -55px;
}
.page-cart .operations{
    height: 50px;
    margin: 0;
    background-color: transparent;
}
.page-cart .operations button{
    height: 30px;
    width: 30px;
    font-size: 22px;
    background-color: transparent;
    border: 2px solid #fff;
}
table {
    width: 100%;
    text-align: center;
    background-color: #D9644A;
    color: #fff;
    font-family: Segoe UI;
    font-size: 18px;
}
table tbody tr:nth-child(odd) {
    background-color: #BF613F;
}
table tr, table td, table th {
    height: 50px;
}
table th, table td {
    vertical-align: middle;
}
.button-delete {
    width: 30px;
    height: 30px;
    background-image: url(../img/button-delete.png);
    background-color: transparent;
    background-position: center;
    background-size: contain;
    border: 2px solid #fff;
}
table tr th:nth-child(1), table tr td:nth-child(1){
    text-align: start;
    padding-left: 30px;
    display: flex;
    align-items: center;
    line-height: 5;
}
.name-product {
    padding-left: 20px;
}
.container-choose {
    height: 70px;
    background-color: #4EA686;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px; 
    padding: 0 30px;
}
table tfoot tr {
    background-color: #343E40;
}
table tfoot .container-sum{
    justify-content: flex-end;
}
table tfoot .container-sum span:nth-child(1){
    margin-right: 34px;
}
tfoot tr td:nth-child(2){
    padding-right: 20px;
}
.container-choose button, .clear-all-but {
    width: 200px;
    height: 36px;
    background-color: transparent;
    border: 2px solid #fff;
}
.container-choose button:nth-child(2), .clear-all-but{
    width: 120px;
}
/* .but-plus:action, .but-minus:action {
    border-color: #fff;
} */

.page-product-caps, .page-product-cards, .page-product-pens,
.page-product-notebooks, .page-product-toys, .page-product-bags,
.page-product-scrum, .page-product-magnets {
    display: none;
}